.pages_btns {
	width: 100%;
	padding: 0 0 8px;
	overflow: hidden;
}

.pages_btns .pages em {
	line-height: 26px;
}

.pages,.threadflow {
	float: right;
	border: 1px solid #D1E8FE;
	background: #F7f7f7;
	height: 24px;
	line-height: 26px;
	color: #666666;
	overflow: hidden;
}

.pages a,.pages strong,.pages em,.pages kbd,#multipage .pages em {
	float: left;
	padding: 0 8px;
	line-height: 26px;
}

.pages a:hover {
	background-color: #F8F8F8;
}

.pages strong {
	font-weight: bold;
	color: #006400;
	background: #D1D9E2;
}

.pages a.prev,.pages a.next {
	line-height: 24px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.pages a.next {
	padding: 0 15px;
}

.pages kbd {
	border-left: 1px solid #E6E6E6;
	margin: 0;
}

* html .pages kbd {
	padding: 1px 8px;
}

.pages kbd input {
	border: 1px solid #E6E6E6;
	margin-top: 3px !important; * >
	margin-top: 1px !important;
	margin: 1px 4px 0 3px;
	padding: 0 2px;
	height: 17px;
}

.pages kbd>input {
	margin-bottom: 2px;
}

a {
	color: #003366;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

em,cite,strong,th {
	font-style: normal;
	font-weight: normal;
}